---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Replocal - Replicate Locally">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<h2 class="text-4xl font-bold">
			Replocal - Makes Local-First Software Easy
		</h2>

		<div>About Us</div>
	</div>
</MarketingLayout>
