---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Product" description="Product for letsync">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<h2 class="text-4xl font-bold">
			letsync
			<br />
			<br />
			Sync for next-gen web applications.
		</h2>
		<div class="text-xl mt-16 text-gray-400">
			Get ready to provide your users with an fast and elegant user experience
			along with a great developer experience.
		</div>
	</div>

	<!-- Testimonials -->
</MarketingLayout>
