# nx
.nx/cache
.nx/workspace-data

# node modules
node_modules/
**/node_modules/

# test
**/coverage/

# build
**/dist/

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/pnpm-debug.log*
**/*debug.log*

# environment variables
**/env*

# miscellaneous
.cursorrules*
**/DS_Store
bin

# jetbrains setting folder
.idea/

# typescript
tsconfig.tsbuildinfo

# TEMPORARY WORKAROUND FOR KNIP
tests/vitest.config.ts
