access=public
link-workspace-packages=true

# @jsr:registry=//my-custom-registry.com/:_authToken=<TOKEN>
# @npm:registry=//my-custom-registry.com/:_authToken=<TOKEN>
@letsync:registry=https://npm.pkg.github.com

# //registry.npmjs.org/:_authToken=MYTOKEN
# _auth (base64 authentication string)
# _authToken (authentication token)
# username
# _password
# email
# certfile (path to certificate file)
# keyfile (path to key file)
