access=public
always-auth=true
link-workspace-packages=true
email=aditya.borkar.programs@gmail.com

# @letsync:registry="https://registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}/"

# npm config set always-auth=true
# npm config set email=adityail.com
