# https://docs.npmjs.com/cli/v10/using-npm/config

access=public
link-workspace-packages=true

# @jsr:registry=//my-custom-registry.com/:_authToken=<TOKEN>
# @npm:registry=//my-custom-registry.com/:_authToken=<TOKEN>
