---
import RefLayout from "@/layouts/documentation/RefLayout.astro";
---

<RefLayout
	title="Replocal - Replicate Locally"
	description="Replocal is a tool that allows you to replicate your Replicate API locally."
>
	<div>
		<h1>Copy from pulumi but in a aesthetic way</h1>
	</div>
</RefLayout>
