---
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout title="Raise an Issue" description="Raise an Issue">
    <p class="mt-4 text-gray-500">Raise an Issue</p>

    <div>
        <p>
            We are always looking for ways to improve Letsync. If you have any
            ideas or suggestions, please let us know by raising an issue.
        </p>
    </div>

    <div>How to debug an issue</div>

    <div>How to raise an issue</div>
</DocsLayout>
