---
Astro.redirect('/');
---

<MarketingLayout title="Pricing" description="Pricing for letsync">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<h1>Pricing</h1>
		<div>Simple pricing based on your needs</div>

		<div class="text-xl text-gray-400 my-36">
			DECIDE AFTER BUILDING `console.letsync.dev` and talking to tech leads
			across the globe
		</div>

		<div class="flex flex-row gap-16">
			<div>
				<h3>Our Infra, Our Console</h3>

				<div>(PAY AS YOU GO)</div>
			</div>
			<div>
				<h3>Your Infra, Our Console</h3>

				<div>(Affordable /yr) (CURRENTLY WORKS ONLY WITH SST AND PULUMI)</div>
			</div>
			<div>
				<h3>Your Infra, Your Console</h3>

				<div>(FREE)</div>
			</div>
		</div>

		<div class="mt-36 max-w-3xl">
			Our licensing does not allow you to white-label our product to use under
			your own brand and compete. If you are interested to explore this
			use-case, we are open for discussion and customize a solution for you.
		</div>
	</div>
</MarketingLayout>

<!-- Runs on AWS GovCloud or Google Cloud for Government -->
<!-- HIPAA compliant -->
