---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Replocal - Replicate Locally">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		DECIDE AFTER BUILDING `app.replocal.dev`
	</div>
</MarketingLayout>
