---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Replocal - Replicate Locally">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<ul>
			<li>Why we made this?</li>
			<li>Who made this?</li>
			<li>How can you help / contribute?</li>
			<li>How to contact?</li>
		</ul>
	</div>
</MarketingLayout>
