---
import SearchLogo from "@/assets/Search.svg";
---

<!-- TODO: Vector Search + AI Documentation Search + AI Chat + GitHub Issues Search + Discord Threads Search -->
<div class="relative cursor-not-allowed">
    <input
        type="text"
        disabled
        placeholder="Search is Work-in-Progress. Your patience is appreciated!"
        class="rounded-lg pl-10 pr-6 py-2 bg-neutral-900 border border-neutral-700/50 w-full cursor-not-allowed"
    />
    <!-- placeholder="Ask AI or Search..." -->
    <div class="absolute top-2 left-3">
        <SearchLogo class="fill-neutral-600" />
    </div>
</div>
