---
import { getCollection } from "astro:content";
import RefLayout from "@/layouts/RefLayout.astro";
import ChevronRight from "@/assets/ChevronRight.svg";

const packages = (await getCollection("reference")).reduce((set, pkg) => {
	const packageName = pkg.id.split("/")[0] || "Unknown";
	set.add(packageName);
	return set;
}, new Set() as Set<string>);
---

<RefLayout title="Home" description="Home">
	<p
		class="mt-8 pt-0.5 uppercase text-xs font-semibold tracking-wider text-neutral-500"
	>
		Reference
		<ChevronRight class="inline fill-neutral-600 -mt-1" />
	</p>

	<h1 class="mt-8">Reference</h1>

	<div>
		Write the list of information available in the docs and how to navigate
		through them.
	</div>

	<!-- <div class="flex mb-4 flex-row gap-4 mt-8">
		<div class="flex flex-row gap-4 text-center">
			<div class="bg-neutral-800 rounded-md">List View</div>
			<div class="bg-neutral-800 rounded-md">Grid View</div>
		</div>
		<input
			type="search"
			placeholder="Search Package"
			class="w-full py-2.5 px-4 grow text-sm rounded-md bg-bg-secondary"
		/>
	</div> -->

	<div class="mt-8 grid grid-cols-4 gap-4 text-center">
		{
			new Array(...packages)
				.sort((a, b) => a.localeCompare(b))
				.map((pkg) => (
					<a
						class="font-medium no-underline py-4 bg-neutral-800/50 rounded-md hover:bg-bg-secondary"
						href={`reference/${pkg}/latest`}
					>
						<img
							src={`/logo/${pkg}.png`}
							alt={pkg}
							class="mt-0 mx-auto mb-2 rounded-lg block size-10"
						/>
						{pkg}
					</a>
				))
		}
	</div>
</RefLayout>
