---
import { getCollection } from 'astro:content';
import RefLayout from '@/layouts/documentation/RefLayout.astro';

const packages = new Set<string>();

const packagesCollection = await getCollection('reference');
for (const pkg of packagesCollection) {
	const pathName = pkg.id.split('/');
	packages.add(pathName[0] || 'Unknown');
}
---

<RefLayout title="Home" description="Home">
	<p class="mt-4 text-gray-500">Reference</p>

	<h1 class="mt-8">Reference</h1>

	<div
		class="text-red-800 bg-red-200 p-4 rounded-md font-bold my-16 text-center"
	>
		NOTE - API Reference is work-in-progress. Kindly refer to the
		"Documentation" for now.
	</div>

	<div class="flex mb-16 flex-row gap-4">
		<div class="flex flex-row gap-4">
			<div>List View</div>
			<div>Grid View</div>
		</div>
		<input
			type="search"
			placeholder="Search Package"
			class="w-full mt-4 py-2 px-4 text-sm rounded-md border border-gray-800 bg-gray-700"
		/>
	</div>

	<div class="grid grid-cols-4 gap-4">
		{
			new Array(...packages).map((pkg) => (
				<a
					class="text-center font-medium no-underline bg-gray-800 p-4 rounded-md hover:bg-gray-700"
					href={`reference/${pkg}/latest`}
				>
					<img
						src={`/images/packages/${pkg}.png`}
						alt={pkg}
						class="block mx-auto size-8"
					/>
					{pkg}
				</a>
			))
		}
	</div>

	<div slot="on-this-page">
		<a href="/reference">Reference</a>
	</div>
</RefLayout>
