---
import DocsLayout from "@/layouts/documentation/DocsLayout.astro";
---

<DocsLayout
	title="Replocal - Replicate Locally"
	description="Replocal is a tool that allows you to replicate your Replicate API locally."
>
	<p class="mt-4 text-gray-500">Docs</p>

	<h1 class="mt-8">Documentation</h1>

	<div>Write here what each section is about</div>
</DocsLayout>
