---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Replocal - Replicate Locally">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<h2>Features</h2>
		<ul>
			<li>Easy to Use</li>
			<li>Free & Open Source</li>
			<li>Self Hostable</li>
			<li>Incremental Adoption</li>
			<li>Secure (Work-in-progress)</li>
		</ul>

		<h2>Local-First Checklist</h2>
		<ul>
			<li>No Spinners: your work at your fingertips</li>
			<li>Your work is not trapped on one device</li>
			<li>The network is optional</li>
			<li>Seamless collaboration with your colleagues</li>
			<li>The Long Now</li>
			<li>Security and privacy by default</li>
			<li>You retain ultimate ownership and control</li>
		</ul>

		<h2>Default Checklist</h2>
		<ul>
			<li>Offline</li>
			<li>Private</li>
			<li>Secure</li>
			<li>Ownership</li>
			<li>Versioned</li>
		</ul>
	</div>
</MarketingLayout>
