---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Replocal - Replicate Locally">
  <h2>Features</h2>
  <ul>
    <li>Easy to Use</li>
    <li>Free & Open Source</li>
    <li>Self Hostable</li>
    <li>Incremental Adoption</li>
    <li>Secure (Work-in-progress)</li>
  </ul>

  <h2>Local-First Checklist</h2>
  <ul>
    <li>No Spinners: your work at your fingertips</li>
    <li>Your work is not trapped on one device</li>
    <li>The network is optional</li>
    <li>Seamless collaboration with your colleagues</li>
    <li>The Long Now</li>
    <li>Security and privacy by default</li>
    <li>You retain ultimate ownership and control</li>
  </ul>

  <h2>Default Checklist</h2>
  <ul>
    <li>Offline</li>
    <li>Private</li>
    <li>Secure</li>
    <li>Ownership</li>
    <li>Versioned</li>
  </ul>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
