---
import { cn } from '@/lib/utils';

import '@/layouts/global.css';

interface Props {
	title: string;
	description: string;
	class?: string;
}

const { title, description, class: className } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<base href="/" />
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>letsync | {title}</title>
	</head>
	<body
		class={cn(
			"text-text-primary h-screen antialiased bg-bg-primary cursor-default text-sm",
			className,
		)}
	>
		<header
			class="flex justify-between shadow-lg items-center backdrop-blur-lg border border-neutral-700/50 rounded-full p-2 fixed top-8 left-[calc(50%-28rem)] max-w-[56rem] w-full z-50"
		>
			<a href="/" class="ml-4">
				<!-- <img src="/logo.svg" alt="letsync" class="inline-block" /> -->
				<span
					class="text-xs ml-2 text-sky-300 tracking-wider font-semibold inline"
				>
					ALPHA
				</span>
			</a>
			<nav class="flex justify-end gap-2">
				<a
					class="hover:bg-bg-secondary transition-all duration-300 rounded-full px-4 py-2"
					href="/features"
				>
					Features
				</a>
				<a
					class="hover:bg-bg-secondary transition-all duration-300 rounded-full px-4 py-2"
					href="/examples"
				>
					Examples
				</a>
				<a
					class="hover:bg-bg-secondary transition-all duration-300 rounded-full px-4 py-2"
					href="/docs"
				>
					Documentation
				</a>
			</nav>
		</header>
		<slot />
	</body>
</html>
