---
import DocsLayout from "@/layouts/DocsLayout.astro";
import ChevronRight from "@/assets/ChevronRight.svg";
---

<DocsLayout title="Home" description="Home">
	<p
		class="mt-8 pt-0.5 uppercase text-xs font-semibold tracking-wider text-neutral-500"
	>
		Docs
		<ChevronRight class="inline fill-neutral-600 -mt-1" />
	</p>

	<h1 class="mt-8">Documentation</h1>

	<div>
		Write the list of information available in the docs and how to navigate
		through them. Move this to CMS.
	</div>
</DocsLayout>
