---
import DocsLayout from '@/layouts/documentation/DocsLayout.astro';
---

<DocsLayout title="Home" description="Home">
	<p class="mt-4 text-gray-500">Docs</p>

	<h1 class="mt-8">Documentation</h1>

	<div>
		Write the list of information available in the docs and how to navigate
		through them. Move this to CMS.
	</div>
</DocsLayout>
