---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Examples" description="Examples for letsync">
	<div
		class="py-48 text-center w-full flex flex-col justify-center items-center"
	>
		<h2
			class="text-5xl font-bold my-24 text-transparent bg-clip-text bg-gradient-to-b from-neutral-100 to-neutral-100/50"
		>
			Examples
		</h2>

		<span class="text-text-secondary mt-8">WORK IN PROGRESS</span>

		<div class="flex flex-col gap-16 mt-24">
			<!-- <a
				target="_blank"
				href=""
				class="text-left p-4 rounded-2xl border border-neutral-700/50 cursor-alias hover:bg-bg-secondary min-w-[48rem] min-h-[24rem]"
			>
				Letsync Wishlist
			</a>
			<a
				target="_blank"
				href=""
				class="text-left p-4 rounded-2xl border border-neutral-700/50 cursor-alias hover:bg-bg-secondary min-w-[48rem] min-h-[24rem]"
			>
				Vasundhara
			</a>
			<a
				target="_blank"
				href=""
				class="text-left p-4 rounded-2xl border border-neutral-700/50 cursor-alias hover:bg-bg-secondary min-w-[48rem] min-h-[24rem]"
			>
				Hooop Cloud
			</a>
			<a
				target="_blank"
				href=""
				class="text-left p-4 rounded-2xl border border-neutral-700/50 cursor-alias hover:bg-bg-secondary min-w-[48rem] min-h-[24rem]"
			>
				Maanas
			</a> -->
		</div>
	</div>
</MarketingLayout>
