---
import MarketingLayout from '@/layouts/MarketingLayout.astro';
---

<MarketingLayout title="Features" description="Features for letsync">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<h2 class="text-4xl font-bold my-24">Features</h2>

		<div class="grid grid-cols-3 max-w-4xl mx-auto gap-16">
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Swap database providers with ease
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Use multiple database providers in a single app (Coming Soon)
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Self Hosted Solution!
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Privacy by default - You choose the data to sync
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Data Ownership is decided by you - User / Company (Coming Soon)
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Works offline
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Versioning and Conflict Resolution (Coming Soon)
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				End-to-End (E2E) Encryption (Coming Soon)
			</div>
		</div>

		<!-- Testimonials -->
	</div>
</MarketingLayout>
