---
import MarketingLayout from "@/layouts/MarketingLayout.astro";
---

<MarketingLayout title="Features" description="Features for letsync">
	<div
		class="h-screen text-center w-full flex flex-col justify-center items-center"
	>
		<h2
			class="text-5xl font-bold my-24 text-transparent bg-clip-text bg-gradient-to-b from-neutral-100 to-neutral-100/50"
		>
			Features
		</h2>

		<div class="grid grid-cols-2 max-w-4xl mx-auto gap-16">
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Bring in your favorite database (Partially Available)
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Bring in your favorite ORM
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Self Hosted Solution!
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Secure by default - You choose the data to sync
			</div>
			<div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Works offline out-of-the-box
			</div>
			<!-- <div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				Versioning and Conflict Resolution (Coming Soon)
			</div> -->
			<!-- <div
				class="max-w-96 text-left p-4 rounded-md border border-neutral-800"
			>
				End-to-End (E2E) Encryption (Coming Soon)
			</div> -->
		</div>

		<!-- Testimonials -->
	</div>
</MarketingLayout>
